<!DOCTYPE html>
<html>
<head>
    <title>Notre application</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='search_lieu.css') }}">
</head>
<body>
    <center>
        <h1><span style="color:#59A7BF">Youtube DeepMetaData</span></h1>
    </center>
    <table>
      <tbody>

        {% for video in data %}
        <p>idVideo: {{ video.idVideo }}</p>
        <ul>
            {% for frame, features in video.frames.items() %}
                <li>frame: {{ frame }}</li>
                <ul>
                    {% for feature in features %}
                        {{ feature }}
                    {% endfor %}
                </ul>
            {% endfor %}
        </ul>
    {% endfor %}
    


      </tbody>
    </table>
      
  
  

</body>
<script src="{{ url_for('static', filename='app.js') }}"></script>

<script>

function filtrage_lieu(){
  var lieu= document.getElementsByName("lieu")[0].value;
  document.location= "/filtrage_lieu?&lieu="+lieu
}

</script>
</html>
