/* Style pour le corps de la page */
body {
  font-family: Arial, sans-serif;
  background-color: #F5F5F5;
  margin: 0;
  padding: 0;
}

/* Style pour le titre */
h1 {
  color: #59A7BF;
  text-align: center;
  margin-top: 50px;
}

/* Style pour le champ de saisie */
input[type="text"] {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  margin: 10px;
  width: 300px;
}

/* Style pour le bouton */
button {
  background-color: #59A7BF;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin: 10px;
  width: 100px;
}

/* Style pour la table */
table {
  margin: 0 auto;
  border-collapse: collapse;
  width: 80%;
}

/* Style pour les cellules */
td, th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

/* Style pour les cellules de la première colonne */
td:first-child, th:first-child {
  background-color: #59A7BF;
  color: white;
  font-weight: bold;
}

/* Style pour les lignes impaires */
tr:nth-child(odd) {
  background-color: #f2f2f2;
}
