.DS_Store
dsia2023/notebook.ipynb
dsia2023/Notebookv2.ipynb
dsia2023/Project.ipynb
dsia2023/sample_submission.csv
dsia2023/submission.csv
dsia2023/test.csv
dsia2023/train.csv

Projet_Kaggle - Copie/dsia2023/notebook.ipynb
Projet_Kaggle - Copie/dsia2023/Notebookv2.ipynb
Projet_Kaggle - Copie/dsia2023/Project.ipynb
Projet_Kaggle - Copie/dsia2023/sample_submission.csv
Projet_Kaggle - Copie/dsia2023/submission.csv
Projet_Kaggle - Copie/dsia2023/test.csv
Projet_Kaggle - Copie/dsia2023/train.csv